.spotifyButton {
    border-radius: 50px;
    background-color: #1DB954;
    color: #FFFFFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-width: 0;
    font-size: 1.25rem;
    margin-top: 6rem;
}